<!DOCTYPE html>
<html lang="en" data-hrld-root="{{hostDirName}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png" />
  <title>Elven.js - {{title}} - MultiversX blockchain</title>
  <meta name="description" content="{{description}}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ogTitle}}" />
  <meta property="og:description" content="{{ogDescription}}" />
  <meta property="og:image" content="https://www.elvenjs.com/assets/images/ogimage.png" />
  <meta property="og:url" content="{{ogUrl}}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{twitterTitle}}" />
  <meta name="twitter:description" content="{{twitterDescription}}" />
  <meta name="twitter:url" content="{{twitterUrl}}" />
  <meta name="twitter:image" content="https://www.elvenjs.com/assets/images/ogimage.png" />

  <meta name="generator" content="haroldjs.com" />

  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/assets/images/icon-192x192.png">
  <meta name="theme-color" content="#037dd6" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://css.gg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://unpkg.com">

  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/stackoverflow-light.min.css">
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css?family=Poppins:100,400,300,600,900&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,400,300,600,900&display=swap"
    media="print" onload="this.media='all'" />

  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <header class="main-header">
    <div class="{{#if fullWidth}}container-full-width{{else}}container{{/if}}">
      <div class="main-header-container">
        <div class="main-logo">
          <div class="main-logo-beta"><a class="common-link" href="https://github.com/juliancwirko/elven.js">v0.6.2</a>
          </div>
          <div class="main-logo-dot"></div><a href="/">Elven.js</a>
        </div>
        <nav class="main-menu">
          <div class="main-menu-list">
            <a class="main-menu-list-item header-button" href="/docs/getting-started.html">Get started</a>
            <a class="main-menu-list-item social-icon" href="https://github.com/juliancwirko/elven.js" target="_blank"
              rel="noopener noreferrer"><img width="20px" height="20px" src="/assets/images/github.svg"
                alt="github" /></a>
            <a class="main-menu-list-item social-icon" href="https://twitter.com/juliancwirko" target="_blank"
              rel="noopener noreferrer"><img width="20px" height="20px" src="/assets/images/twitter.svg"
                alt="twitter" /></a>
            <div data-js-search class="main-menu-list-item">
              <i class="gg-search"></i>
            </div>
            <div data-js-menu class="main-menu-list-item">
              <i class="gg-menu"></i>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div class="page">